@use "../../css/variables" as var;

header {
  top: 0;
  position: sticky;
  padding: 15px var.$padding-body;
  box-shadow: var.$box-shadow;

  .container {
    max-width: var.$page-width;
    margin: auto;

    .navbar {
      display: flex;
      justify-content: space-between;
      margin-bottom: -2.5px;

      a {
        color: inherit;
        font-weight: var.$weight-m;

        &:visited {
          color: inherits;
        }
      }

      .btn__theme {
        display: flex;
        align-items: center;
        border: none;

        &:hover {
          cursor: pointer;
        }

        svg {
          margin-bottom: -2px;
          font-size: 25px;
        }
      }
    }
  }
}
