@use "../../../css/variables.scss" as var;
@use "../../../css/breakpoints.scss";

.country {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: var.$border-radius;
  box-shadow: var.$box-shadow;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var.$border-radius var.$border-radius 0 0;
  }

  .text {
    width: 100%;
    padding: 1.5rem 1rem;

    h3 {
      padding: 0 0 1rem 0;
      font-weight: var.$weight-l;
    }

    p span {
      font-weight: var.$weight-m;
    }
  }
}
