@use "./variables.scss" as var;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.6;

  // Responsive font-size: ;
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

body {
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;

  img {
    display: block;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

.app {
  min-height: 100vh;
}

// THEME
#light {
  background-color: var.$clr-light-bg;
  color: var.$clr-light-text;

  #theme__el,
  .theme__el {
    background-color: var.$clr-light-element;
    color: var.$clr-light-text;
  }

  #theme__input {
    color: var.$clr-light-input;
    color: var.$clr-light-text;
  }
}

#dark {
  background-color: var.$clr-dark-bg;
  color: var.$clr-dark-text;

  #theme__el,
  .theme__el {
    background-color: var.$clr-dark-element;
    color: var.$clr-dark-text;
  }

  #theme__input {
    background-color: var.$clr-dark-element;
    color: var.$clr-dark-input;
  }
}
