// readability
$page-width: 1200px;
$padding-body: 1rem;

// typography
$weight-s: 300;
$weight-m: 600;
$weight-l: 800;

// color:
$clr-light-bg: hsl(0, 0%, 98%);
$clr-light-text: hsl(200, 15%, 8%);
$clr-light-element: hsl(0, 0%, 100%);
$clr-light-input: hsl(0, 0%, 52%);

$clr-dark-bg: hsl(207, 26%, 17%);
$clr-dark-text: hsl(0, 0%, 100%);
$clr-dark-element: hsl(209, 23%, 22%);
$clr-dark-input: hsl(0, 0%, 52%);

// annet
$border-radius: 0.5rem;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ;
