// readability
$page-width: 1000px;
$padding-body: 20px;

// typography
$weight-s: 300;
$weight-m: 600;
$weight-l: 800;

// color:
$clr-light-bg: hsl(0, 0%, 98%);
$clr-light-text: hsl(200, 15%, 8%);
$clr-light-element: hsl(0, 0%, 100%);
$clr-light-input: hsl(0, 0%, 52%);

$clr-dark-bg: hsl(207, 26%, 17%);
$clr-dark-text: hsl(0, 0%, 100%);
$clr-dark-element: hsl(209, 23%, 22%);
$clr-dark-input: hsl(0, 0%, 52%);

// annet
$border-radius: 0.25rem;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
